In [1]:
from preprocessing import *

In [2]:
df = pd.read_csv('data/data.csv')
df.drop([df.columns[0]], axis = 1, inplace=True)

In [3]:
df_enc = encoding(df)
df_enc.head()

ok 1
ok 2
ok 3
ok 4
ok 5
<class 'pandas.core.frame.DataFrame'>

,ID,USER_ID,TRANSACTION_DATE_TIME,USER_CREATION_DATE,COUNTRY,AMOUNT_GBP,CURRENCY,FRAUD,countries_encoded,currencies_encoded,...,10,11,12,13,14,15,16,17,18,19
0,f659b44e-cfdf-48de-bcf3-06f47ef26e9f,fd7f3ff6-0ed6-4a85-a7b5-2f205e0ef72f,2019-04-20 18:04:03.930,2019-04-18 10:59:26.974,PL,13.12,PLN,0,0.000294,0.000347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,b3bdd0fc-641e-4952-a562-86db402fbe75,fd7f3ff6-0ed6-4a85-a7b5-2f205e0ef72f,2019-04-28 17:55:04.803,2019-04-18 10:59:26.974,PL,168.83,PLN,0,0.000294,0.000347,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2e44356b-ada5-4453-bf85-9495d01b1517,fd7f3ff6-0ed6-4a85-a7b5-2f205e0ef72f,2019-05-02 08:33:28.777,2019-04-18 10:59:26.974,PL,32.13,EUR,0,0.000294,0.007534,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,fc9b6e20-9355-4dac-95b0-9b2e5dff3f8b,fd7f3ff6-0ed6-4a85-a7b5-2f205e0ef72f,2019-04-29 10:16:43.887,2019-04-18 10:59:26.974,PL,379.74,EUR,0,0.000294,0.007534,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,d0716ef1-50bb-4035-88da-b10a4ee336aa,fd7f3ff6-0ed6-4a85-a7b5-2f205e0ef72f,2019-04-28 17:44:35.678,2019-04-18 10:59:26.974,PL,421.87,EUR,0,0.000294,0.007534,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0